<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 12 years of exprience as a software developer, and have worked at both bootstraped startups & large organizations. While I'm a proficient full-stack developer, my expertise are in web & frontend frameworks.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Skills & TECHNOLOGIES</h3>
		    <ul>
    			<li>
            ReactJs, Redux, AugularJs, NodeJs, JavaScript, HTML5
    			</li>
          <li>
            Material-UI, Ant Design, Rebass, Jest, Karma, Jasmine, Webpack, JSPM, Grunt, Styled-Coponents, Styleguidist
          </li>
          <li>
            Java, Python, PHP, .Net
          </li>
          <li>
            Spring, Spring Boot, Hibernate, Python Flask, Apache PySpark, PHP Laravel, Yii, Codeigniter, .Net MVC
          </li>
          <li>
            MySql, MS Sql-Server, Oracle, Apache Cassandra, MongoDB, ElasticSearch, Redis
          </li>
          <li>
            AWS, EC2, AWS DynamoDB, AWS Lambda Functions, Azure DevOps, Azure PipeLines, Azure Logic Apps
          </li>
          <li>
            Responsive Layouts, Accessibility WCAG 2.1
          </li>
          <li>
            Agile Development
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
