<section id="interests">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/LL1.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/Aprais1.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/MNC1.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/MME1.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                    
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/MyCog1.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <!-- <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/submarine.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/safe.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div> -->
                
            </div>
        </div>
    </section>

    <div class="portfolio-modal modal fade" id="portfolioModal-1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Aprais</h2>
                            <hr class="star-primary">
                            <p style="text-align: justify;">Aprais has a product for corporates to enable evaluations of their relationship with vendors across their business. Nestle is the biggest client of Aprais, who use this product across the globe for there market reaserch & relationship management with vendors.</p>
                            <p style="text-align: justify;">This was a heavily design driven development, the client wanted the exact designs to be replicated into the app. Developing a custom gauge component was the most challenging work involved in the project.</p>
                            
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://aprais.com" target="_blank">Aprais</a>
                                    </strong>
                                </li>

                                <li>Date:
                                    <strong><a href="http://aprais.com" target="_blank">April 2019</a>
                                    </strong>
                                </li>

                                <li>Domain:
                                    <strong><a href="http://aprais.com" target="_blank">Marketing and Advertising</a>
                                    </strong>
                                </li>    
                                
                            </ul>
                            <ul class="list-inline item-details">
                                <li>Technology:
                                    <strong><a href="http://aprais.com" target="_blank">ReactJs, Redux, Axios, ImmutableJs, StyledComponents, Styleguidist, Webpack</a>
                                    </strong>
                                </li>
                            </ul>
                            <img src="img/portfolio/Aprais3.png" class="img-responsive img-centered" alt="image-alt">
                            <hr class="star-primary">
                            <img src="img/portfolio/Aprais2.png" class="img-responsive img-centered" alt="image-alt">
                            
                                
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>MarvellousMe</h2>
                            <hr class="star-primary">
                            <p style="text-align: justify;">MarvellousMe is a hybrid mobile app that engages parents by keeping up to speed about their children's learning & positive behaviors in their school. The teachers at the schools use a version of the app to record content related to students & share them with the respective parents. Parents have a version of the app to view their child's content & interact with the teacher.</p>
                            
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="https://marvellousme.com/" target="_blank">MarvellousMe</a>
                                    </strong>
                                </li>

                                <li>Date:
                                    <strong><a href="https://marvellousme.com/" target="_blank">December 2016</a>
                                    </strong>
                                </li>

                                <li>Domain:
                                    <strong><a href="https://marvellousme.com/" target="_blank">Education</a>
                                    </strong>
                                </li>    
                                
                            </ul>
                            <ul class="list-inline item-details">
                                <li>Technology:
                                    <strong><a href="http://aprais.com" target="_blank">Cordova PhoneGap, BackboneJs, HTML5, Jquery, Bootstrap, Java, Spring, Hibernate, MySql</a>
                                    </strong>
                                </li>
                            </ul>
                            <img src="img/portfolio/MME2.png" class="img-responsive img-centered" alt="image-alt">
                            <!-- <hr class="star-primary">
                            <img src="img/portfolio/Aprais2.png" class="img-responsive img-centered" alt="image-alt"> -->
                            
                                
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Learnlight</h2>
                            <hr class="star-primary">
                            <p style="text-align: justify;">Learnlight offers a comprehensive range of training and consultancy solutions that empowers talent to excel in a complex and demanding business world.</p>

                            <p style="text-align: justify;"> There were two products that were delivered for the client, one was a React-Native based hybrid mobile app & one a web-app based on ReactJs, GraphQL & TypeScript. I had setup this project to be developed in Functional programming concepts & also the code had tooling setup around linting & code quality. There were git hooks in place to run TypeScript checks & Jest tests making sure nothing breaking was being pushed to the code-repo.
                            </p>
                            
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://learnlight.com" target="_blank">Learnlight</a>
                                    </strong>
                                </li>

                                <li>Date:
                                    <strong><a href="http://learnlight.com" target="_blank">Feb 2020</a>
                                    </strong>
                                </li>

                                <li>Domain:
                                    <strong><a href="http://learnlight.com" target="_blank">Corporate Training</a>
                                    </strong>
                                </li>    
                                
                            </ul>
                            <ul class="list-inline item-details">
                                <li>Technology:
                                    <strong><a href="http://learnlight.com" target="_blank">ReactJs, ReactNative, Expo, TypeScript, Jest, StyledComponents, ReBass, Apollo GraphQL, StoryBook</a>
                                    </strong>
                                </li>
                            </ul>
                            <img src="img/portfolio/LL2.png" class="img-responsive img-centered" alt="image-alt">
                            <hr class="star-primary">
                            <img src="img/portfolio/LL3.png" class="img-responsive img-centered" alt="image-alt">
                            <hr class="star-primary">
                            <img src="img/portfolio/LL4.png" style="max-width: 200px;height: auto;" class="img-responsive img-centered" alt="image-alt">
                            
                                
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>MyCognition</h2>
                            <hr class="star-primary">
                            <p style="text-align: justify;">MyCognition is a cognitive health company which makes assessments and video games, that measure and train cognitive health. This project is centered around making use of the existing API but with a new UI. The new system has the ability to play games, view users within subscriptions and to report on a range of criteria based on cognitive health scores of users.</p>

                            <p style="text-align: justify;">One of the challenging piece of work in this project was the generation of PDF reports of the analytics dashboard. It had to be the exact report as shown in the web-app, to achecive this I went with a headless browser phantomjs implmentation exposed through a nodejs web-service api.</p>
                            
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="https://mycognition.com/" target="_blank">MyCognition</a>
                                    </strong>
                                </li>

                                <li>Date:
                                    <strong><a href="https://mycognition.com/" target="_blank">March 2016</a>
                                    </strong>
                                </li>

                                <li>Domain:
                                    <strong><a href="https://mycognition.com/" target="_blank">Health Science & Analytics</a>
                                    </strong>
                                </li>    
                                
                            </ul>
                            <ul class="list-inline item-details">
                                <li>Technology:
                                    <strong><a href="https://mycognition.com/" target="_blank">HTML5, BackboneJS, JSPM, Jquery, Bootstrap, Highcharts, Nodejs, ExpressJs PhantomJs, Java, Spring, MySql</a>
                                    </strong>
                                </li>
                            </ul>
                            <img src="img/portfolio/MyCog2.png" class="img-responsive img-centered" alt="image-alt">
                            <!-- <hr class="star-primary">
                            <img src="img/portfolio/LL3.png" class="img-responsive img-centered" alt="image-alt">
                            <hr class="star-primary">
                            <img src="img/portfolio/LL4.png" style="max-width: 200px;height: auto;" class="img-responsive img-centered" alt="image-alt"> -->
                            
                                
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>MNC Orchard</h2>
                            <hr class="star-primary">
                            <p style="text-align: justify;">MNC provides a media planning and buying service to their clients with a strong focus on an ROI through proven analytical data. This application is a bespoke platform to process all lead and advertising data and visualize it internally and to their clients. As part of this project automated lead collections in-line with Google analytics from client websites was implemented</p>

                            
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="https://www.mnc.uk.com/" target="_blank">MNC</a>
                                    </strong>
                                </li>

                                <li>Date:
                                    <strong><a href="https://www.mnc.uk.com/" target="_blank">July 2017</a>
                                    </strong>
                                </li>

                                <li>Domain:
                                    <strong><a href="https://www.mnc.uk.com/" target="_blank">Advertising</a>
                                    </strong>
                                </li>    
                                
                            </ul>
                            <ul class="list-inline item-details">
                                <li>Technology:
                                    <strong><a href="https://mycognition.com/" target="_blank">HTML5, BackboneJS, JSPM, Jquery, Bootstrap, Highcharts, AWS DynamoDB, Vert.x, Groovy, Scala, PHP, MySql</a>
                                    </strong>
                                </li>
                            </ul>
                            <img src="img/portfolio/MNC2.png" class="img-responsive img-centered" alt="image-alt">
                            <hr class="star-primary">
                            <img src="img/portfolio/MNC3.png" class="img-responsive img-centered" alt="image-alt">
                            <!-- <hr class="star-primary">
                            <img src="img/portfolio/LL4.png" style="max-width: 200px;height: auto;" class="img-responsive img-centered" alt="image-alt"> -->
                            
                                
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
